<!--
  <app-lista-productos></app-lista-productos>

<p *ngIf="mostrar">Hola desde angular</p>

<ul>
  <li>{{persona.nombre}}</li>
</ul>

<p  *ngFor="let p of listaPersonas" (mouseenter)="seleccionarPersona(p)">
  {{persona.nombre}} - {{p.apellido}} - {{p.informatico}}

  <input type="checkbox" name="informatico"  value="informatico" [(ngModel)]="p.informatico"/>
    <input type="radio" value="java"   [name]="p.nombre" [(ngModel)]="p.lenguaje"/>java
    <input type="radio" value="C#"     [name]="p.nombre" [(ngModel)]="p.lenguaje"/>C#
    <input type="radio" value="python" [name]="p.nombre" [(ngModel)]="p.lenguaje"/>Python
</p>
<input type="button" value="ver"    (click)="ver()"/>
<input type="button" value="ocultar" (click)="ocultar()"/>

<select [(ngModel)]="seleccion">
     <option *ngFor="let item of lista" [value]="item">
          {{item}}
     </option>
</select>
<p>La persona seleccionada</p>
{{seleccionada?.nombre}} {{seleccionada?.apellido}} - {{seleccionada?.informatico}} - {{seleccionada?.lenguaje}}
<br/>
{{seleccion}}-->
<!-- componente de enrutaminto (carga vista)-->
<router-outlet></router-outlet>
